<!DOCTYPE html> 
<html lang="en"> 
<head> 
<title>CSS Website Layout</title> 

<link rel="stylesheet" href="{{url_for('static', filename='../static/home.css')}}">
</head> 
<body>
<div class="header">
<h1>Clothing Website</h1> 
</div>
 
<div class="topnav"> 
 <a href="/">Home</a> 
 <a href="/Log in">Log in</a>
 <a href="/registration">registration</a> 
 <a href="/users">Users</a> 
</div> 
<div class="dropdown">
	<button class="dropbtn">Products</button>
	<div class="dropdown-content">
	<a href="/Shirts for all">shirts</a>
	<a href="/festival collection">Festival collection</a>
	</div>
</div>
	
		
	</div>
</div>


        
 
</body> 
</html>