<!DOCTYPE html>
<html>
<head>
	<title>Flask adv: login page</title>
	<link rel="stylesheet" href="{{url_for('static', filename='../static/page1.css')}}">

</head>
<body>
		<fieldset>
			<div align="center">
				<form action="validateuser" method="POST">
					<table>
					<tr>
						<td>Username:</td>
						<td><input type="text" name="uname"></td> 
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" name="pin"></td> 
					</tr>
					<tr>
						<td><input type="reset" value="reset"></td>
						<td><input type="submit" value="login"></td>

					</tr>
					</table>
					<h3>Don't have an account <a href="/registration">Sign Up!</a></h3>
				
				</form>  
			</div>
		</fieldset>


</body> 	
</html>