body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            background-image: url("pexels-james-wheeler-1486974.jpg");
}
fieldset {
            width: 300px;
            margin: 50px auto;
            /*background: #fff;*/
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
}

td{
    font-weight: bolder;
}

table {
            width: 100%;
}

table td {
            padding: 10px;
            text-align: left;
}
input[type="text"]{
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
}
input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
}

input[type="reset"]{
            width: 48%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

}
input[type="submit"] {
            width: 48%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
}

input[type="reset"] {
            background-color: #ccc;
            /*margin-right: 2%;*/
}

input[type="reset"]:hover {
            background-color: #aaa;
}

input[type="submit"] {
            background-color: #007bff;
            color: #fff;
}

input[type="submit"]:hover {
            background-color: #0056b3;
}

h3 {
            text-align: center;
            margin-top: 20px;
}

h3 a {
            color: #007bff;
            text-decoration: none;
}

h3 a:hover {
            text-decoration: underline;
}
    





